#stacje{
    margin-top: 10vh;
    height: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
    /* background-color: grey; */
}

.header, .tytul{
    text-align: center;
}

.tytul {
    margin-top: 10vh;
    font-size: 15px;
}

.volumeControl {
    margin-top: 3vh;
    height: 10vh;
    margin-left: 38vw;
    margin-right: 38vw;
}

.przyciski {
    margin-top: 3vh;

    height: 10vh;
    margin-left: 38vw;
    margin-right: 38vw;
    /* background-color: grey; */
}