#stacje{
    margin-top: 15vh;
    height: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: center;
    /* background-color: grey; */
}

.header{
    text-align: center;
}

.volumeControl {
    margin-top: 3vh;
    height: 10vh;
    margin-left: 38vw;
    margin-right: 38vw;
}

.przyciski {
    margin-top: 3vh;

    height: 10vh;
    margin-left: 38vw;
    margin-right: 38vw;
    /* background-color: grey; */
}